[Unit]
Description=Demonstrate dasbus memory leak.
Wants=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=dbus
Environment="LOG_LEVEL=DEBUG"
ExecStart=/usr/bin/dbdemo_server
BusName=com.example.dbdemo
Restart=on-failure

[Install]
WantedBy=multi-user.target
